.card-question {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25rem;
  height: 100%;
  margin: auto;
}

.btn-option {
  width: 10rem;
}

.card-instructions {
  max-width: 30rem;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.card-report {
  width: 25rem;
  margin: auto;
  margin-bottom: 2rem;
}
