.App {
   text-align: center;
   font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

main {
   margin-top: 5rem;
   margin-bottom: 5rem;
   width: 100%;
   min-height: calc(70vh - 4rem);
}

.active-page {
   color: var(--white-color) !important;
   font-weight: bold;
}

.max-width-60 {
   max-width: 60rem;
}

.max-width-40 {
   max-width: 40rem;
}
