.App {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

main {
  margin-top: 5rem;
  margin-bottom: 5rem;
  width: 100%;
  min-height: calc(100vh-4rem);
}

.active-page {
  color: #ffffff !important;
  font-weight: bold;
}
