@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

:root {
   --bg-color-app: #9ca3af;
   --white-color: #ffffff;
   --primary-color-app: #01dcfc;
}

body {
   margin: 0;
   background-color: var(--bg-color-app);
}
